<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Inventory</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%if(locals.isAuthenticated){%>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/tires"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tires
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/tires">All Tires</a></li>
            <li>
              <a class="dropdown-item" href="/tires/add">Add Tire</a>
            </li>
            <li>
              <a class="dropdown-item" href="/tires/mine">My Tires</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Manufacturers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/manufacturers"
                >All Manufacturers</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/manufacturers/add"
                >Add Manufacturer</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/manufacturers/mine"
                >My Manufacturers</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Seasons
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/seasons">All Seasons</a>
            </li>
            <li>
              <a class="dropdown-item" href="/seasons/add">Add Season</a>
            </li>
            <li>
              <a class="dropdown-item" href="/seasons/mine">My Seasons</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sizes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/sizes">All Sizes</a>
            </li>
            <li>
              <a class="dropdown-item" href="/sizes/add">Add Size</a>
            </li>
            <li>
              <a class="dropdown-item" href="/sizes/mine">My Sizes</a>
            </li>
          </ul>
        </li>
      </ul>
      <%}%>
      <ul class="navbar-nav mb-2 mb-lg-0 left">
        <%if(!locals.isAuthenticated){%>
        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="/signup" class="nav-link">Signup</a></li>

        <%}else{%>
        <li class="nav-item d-flex align-items-center">
          <a href="/user" class="nav-link"><%=locals.name%></a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">
            <form action="/logout" method="post">
              <button class="btn btn-outline-success" type="submit">
                Logout
              </button>
            </form></a
          >
        </li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>
