<form action="/signup" method="post">
  <div class="form-control">
    <input type="text" name="first_name" placeholder="First Name" />
  </div>
  <div class="form-control">
    <input type="text" name="last_name" placeholder="Last Name" />
  </div>
  <div class="form-control">
    <input type="password" name="password" placeholder="Password" />
  </div>
  <div class="form-control">
    <input type="email" name="email" placeholder="Email" />
  </div>
  <div class="form-control">
    <input type="username" name="username" placeholder="Username" />
  </div>
  <button type="submit">Signup</button>
</form>
